<div class="about">
    <h1 class="title">My favorites characters</h1>
    <div class="character_container">
        
        <div class="card_container" >
            <img src="{{gojou.image_url}}" alt="{{gojou.name}}">
            <div class="name_container">
                <h1>{{gojou.name_kanji}}</h1>
                <h2>{{gojou.name}}</h2>
            </div>
        </div>
        <div class="card_container">
            <img src="{{sukuna.image_url}}" alt="{{sukuna.name}}">
            <div class="name_container">
                <h1>{{sukuna.name_kanji}}</h1>
                <h2>{{sukuna.name}}</h2>
            </div>
        </div>
        <div class="card_container">
            <img src="{{tomioka.image_url}}" alt="{{tomioka.name}}">
            <div class="name_container">
                <h1>{{tomioka.name_kanji}}</h1>
                <h2>{{tomioka.name}}</h2>
            </div>
        </div>
    </div>
    <div class="social_container">
        <ul class="social_container_item">
            <li><a href="https://www.instagram.com/anapaulacello/"><img src="https://imgur.com/cYJmHNR.png" alt="instagram"></a></li>
            <li><a href="https://github.com/anapaulacello"><img src="https://imgur.com/y8vPwME.png" alt="linkedIN"></a></li>
            <li><a href="https://www.linkedin.com/in/ana-paula-morales-dulzaides-813645218/"><img src="https://imgur.com/kSwLETQ.png" alt="gitHub"></a></li>
        </ul>
    </div>
</div>
