@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&family=Source+Code+Pro:ital,wght@0,200;0,400;1,300&display=swap');
.home{
    background-image:linear-gradient(rgb(0, 0, 0,0.5),rgba(0, 0, 0, 0.5),), url('https://images5.alphacoders.com/992/thumb-1920-992304.jpg');
    background-position:center;
    min-height: 100vh;
    padding: 80px 0;
    text-align: center;
    .home__info{
        h1{
            font-family: 'Source Code Pro', monospace;
            color: white;
        }
        h2{
            font-family: 'Noto Serif JP', serif;
            font-size: 100px;
            color: white;
        }
    }
}

